<p>Cansado de cavalgar seu Corcel do Regresso? Esse é seu momento!</p>
<p>
  Garanta a oportunidade de adiquirir a mais bela montaria de Zereth Mortis e
  fique tão estiloso quanto esse belissimo Priest
</p>
<img src="../../assets/unknown.png" />
<p>
  Todas as Quartas e Quintas às 01:00AM, após o core da Lúmina estaremos no
  <a target="_blank" href="https://wowhead.com/npc=180978/hirukon">Hirukon</a>
  para que todos tenham sua chance de pegar a mount!
</p>
<p>
  Para mais informações /w Cxt-Azalon ou visite nosso
  <a target="_blank" href="https://discord.gg/FGHcZjAa">discord</a>.
</p>
<p>#makelovenotwar</p>
